<div id="email"
     class=""> <!-- Email Form -->
  <div class="contact-form">
    <strong class="contact-strong">Posez vos questions :</strong>
    <form [formGroup]="emailForm"
          #ngForm="ngForm"
          #formDirective="ngForm"
          (ngSubmit)="onSubmit(formDirective)"
          aria-label="Formulaire d'email afin de contacter le Cabinet de Curiosités">

      <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email" 
               type="email"
               aria-label="Saisir son email" 
               class="form-control"
               spellcheck="false"
               autocomplete="off"
               [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['email'].errors }">
      </div>
      <ng-container *ngIf="ngForm.submitted && f['email'].errors">
        <ng-container class="text-alert" 
                      *ngIf="f['email'].errors['required']">Veuillez saisir un email!
        </ng-container>
        <ng-container class="text-alert" 
                      *ngIf="f['email'].errors['email']">Format d'email invalide!
        </ng-container>
        <ng-container class="text-alert" 
                      *ngIf="f['email'].errors['validEmail']">
          L'email doit contenir un "@" + nom de domaine!
        </ng-container>
      </ng-container>

      <div class="form-group">
        <label for="subject">Sujet</label>
        <input formControlName="subject"
               type="text" 
               aria-label="Saisir un sujet pour l'email"
               class="form-control"
               spellcheck="false"
               autocomplete="off"
               [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['subject'].errors }">
      </div>
      <ng-container *ngIf="ngForm.submitted && f['subject'].errors">
        <ng-container class="text-alert" 
                      *ngIf="f['subject'].errors['required']">Veuillez saisir un sujet!
        </ng-container>
        <ng-container class="text-alert" 
                      *ngIf="f['subject'].errors['minlength']">Le sujet doit contenir au minimum 3 caractères.
        </ng-container>
        <ng-container class="text-alert" 
                      *ngIf="f['subject'].errors['maxlength']">Le sujet peut contenir au maximum 125 caractères.
        </ng-container>
      </ng-container>

      <div class="form-group">
        <label for="body">Message</label>
        <textarea formControlName="body"
                  type="text" 
                  aria-label="Saisir votre message"
                  class="form-control"
                  rows="7"
                  spellcheck="false"
                  autocomplete="off"
                  [ngClass]="{ 'invalid-feedback': ngForm.submitted && f['body'].errors }"></textarea>
      </div>
      <ng-container *ngIf="ngForm.submitted && f['body'].errors">
        <ng-container class="text-alert" 
                      *ngIf="f['body'].errors['required']">Veuillez saisir un message!
        </ng-container>
        <ng-container class="text-alert" 
                      *ngIf="f['body'].errors['minlength']">Le message doit contenir au minimum 3 caractères.
        </ng-container>
        <ng-container class="text-alert" 
                      *ngIf="f['body'].errors['maxlength']">Le message peut contenir au maximum 500 caractères.
        </ng-container>
      </ng-container>

      <div class="button-activity">
        <button type="submit" 
                rel="noopener noreferrer"
                class="link"
                aria-label="Bouton pour envoyer votre email">Envoyer
        </button>
      </div>

    </form>
  </div>
</div> <!-- Email Form End -->
<ng-container *ngIf="spinnerService.visibility | async">
  <div class="spinner-container">
    <div class="circle">
      <fa-icon [icon]="faRobot"></fa-icon>
    </div>
  </div>
</ng-container>
