.wrapper {
  width: 100%;
  background-attachment: fixed;
  background-image: url("./../../../assets/img/quadrillage.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  #internship {
    width: 100%;
    padding-bottom: 3em;
    .inner {
      width: 100%;
      .internship-card {
        height: 32em;
        width: 20em;
        padding: 0;
        .internship-description {
          margin-top: 1em;
          padding: 0;
          background-color: var(--bg-color-light);
          h1 {
            font-size: 19.2px;
            margin: 0 0 0 0;
            margin-left: auto;
            margin-right: auto;
            padding-top: 0.5em;
            font-weight: bold;
            line-height: 1.5;
            text-transform: uppercase;
          }
          h2 {
            font-size: 14.4px;
            color: var(--text-color-white);
            padding: 0em 2em 1em 2em;
            text-align: left;
            font-weight: normal;
            line-height: 1.5;
          }
        }
        .internship-text {
          color: var(--text-color-card);
          background-color: var(--color-blue);
          padding: 0;
          height: 14.2em;
          margin-bottom: -1.7em;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          h1 {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
            color: var(--text-color-card);
            text-transform: uppercase;
            &:first-of-type {
              padding: 1vh 0;
            }
            &:nth-of-type(2) {
              padding: 1vh 0;
            }
          }
          h2 {
            font-size: 16px;
            font-weight: bold;
            &:last-of-type {
              margin-bottom: 2vh;
            }
          }
        }
      }
    }
    .call-action-scroll {
      display: none;
    }
  }
  #challenge {
    #title {
      color: var(--text-color-pink);
      .inner {
        padding: 2em 0;
        h2 {
          font-size: 22.4px;
        }
      }
    }
    .wrapper2 {
      padding: 2em 0;
      z-index: 1000;
      .challenge {
        .content {
          padding: 0em 2em 0em 2em;
          .inner {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.55);
            line-height: 1.5;
            .div-img {
              border-radius: 10px;
              height: 25em;
              overflow: hidden;
              background-size: cover;
              width: 20em;
            }
            .div-img.hill {
              background-image: url("./../../../assets/img/internship-hill.jpg");
            }
            .div-img.maze {
              background-image: url("./../../../assets/img/internship-maze.jpg");
            }
            h3 {
              color: var(--text-color-blue);
              margin: 1em 0 0 0;
            }
            .text {
              width: 20em;
              margin: 0.5em 0 2.8em 0;
              font-weight: 500;
              text-align: justify;
              h5 {
                font-size: 12.8px;
                margin-top: 1em;
                text-align: left;
                color: var(--text-color-white);
              }
            }
          }
        }
      }
      .contact {
        padding: 0 0 4em 0;
      }
    }
  }
}


/* ------ Responsive ------ */
@media screen and(min-width: 768px) {
  .wrapper {
    #internship {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      min-height: 94vh;
      background-image: url("./../../../assets/img/banner-internship.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      .inner {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 2vh;
        .logo {
          margin: 0;
          img {
            width: 200px;
          }
          h1 {
            font-size: 35px;
            margin: 0.5em 0 0 1em;
          }
        }
        .internship-card {
          .internship-description {
            background-color: var(--bg-color);
          }
        }
      }
    }
    #challenge {
      #title {
        .inner {
          padding: 3.5em 0;
        }
      }
      .wrapper2 {
        padding: 0;
      }
    }
  }
}

@media screen and (min-width: 980px) {
  .wrapper {
    #challenge {
      width: 100%;
      #title {
        .inner {
          padding: 4.5em 0;
          h2 {
            font-size: 35px;
          }
        }
      }
      .wrapper2 {
        width: 100%;
        .challenge {
          display: flex !important;
          flex-direction: row !important;
          justify-content: center !important;
          .content {
            padding: 0 3.2em 0 3.2em;
          }
        }
        .contact {
          padding: 3em 0 4em 0;
        }
      }
    }
  }
}

@media screen and(min-width: 1080px) {
  .wrapper {
    #internship {
      min-height: 100vh;
    }
  }
}

@media screen and (min-width: 1300px) {
  .wrapper {
    #internship {
      .inner {
        .internship-card {
          margin-left: 16em;
        }
      }
    }
  }
}

@media screen and(min-width: 1400px) {
  .wrapper {
    #internship {
      .inner {
        .internship-card {
          margin: 0 0 0 20em;
        }
      }
    }
    #challenge {
      .wrapper2 {
        .challenge {
          .content {
            padding: 0 5em 0 5em;
          }
        }
      }
    }
  }
}

@media screen and(min-width: 1650px) {
  .wrapper {
    #internship {
      .inner {
        height: 40em;
        margin-top: 4em;
        .logo {
          margin: 0 30em 14em 0;
          img {
            width: 250px;
          }
        }
        .internship-card {
          height: 40em;
          width: 25em;
          margin: 0;
          .internship-description {
            h1 {
              font-size: 26.5px;
            }
            h2 {
              font-size: 20px;
            }
          }
          .internship-text {
            height: 17em;
            h1 {
              font-size: 33px
            }
            h2 {
              font-size: 20px
            }
          }
        }
      }
      .call-action-scroll {
        display: flex;
        .mouse-icon {
          margin-top: 9em;
        }
      }
    }
    #challenge {
      #title {
        .inner {
          padding: 5em 0;
        }
      }
      .wrapper2 {
        .challenge {
          justify-content: space-around !important;
          padding: 0 8em;
          .content {
            padding: 0 2em 0 2em;
            h3 {
              font-size: 28px;
            }
            .inner {
              .div-img {
                height: 30em;
                width: 25em;
              }
              .text {
                font-size: 19px;
                h5 {
                  font-size: 17px;
                }
              }
            }
          }
        }
        .contact {
          padding: 3em 0 5.5em 0;
        }
      }
    }
    .button-activity {
      a {
        width: 170px;
        font-size: 12px;
      }
    }
  }
}
