.wrapper {
  #internship {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    min-height: 118vh;
    background-image: url("./../../../assets/img/banner-internship.jpg");
    .inner {
      display: flex;
      min-height: 40em;
      padding: 0;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
      transition: opacity 1s ease, transform 1s ease;
      opacity: 1.0;
      .internship-card {
        height: 20em;
        width: 20em;
        margin: 2em 0em 0em 0;
        padding: 0;
        background-color: var(--bg-color);
        .internship-description {
          display: flex;
          flex-wrap: wrap;
          margin-top: 1em;
          padding: 0;
          h1 {
            font-size: 1.2em;
            margin: 0 0 1vh 0;
            margin-left: auto;
            margin-right: auto;
            font-weight: bold;
            line-height: 1.5;
            text-transform: uppercase;
          }
          h2 {
            font-size: 14.4px;
            color: var(--text-color-white);
            padding: 0em 2em 0em 2em;
            text-align: left;
            font-weight: normal;
            line-height: 1.5;
          }
        }
        .internship-text {
          color: var(--text-color-card-internship);
          background-color: var(--color-blue);
          padding: 0;
          height: 17.9em;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          h1 {
            font-size: 24px;
            font-weight: bold;
            color: var(--text-color-card-internship);
            text-transform: uppercase;
            &:first-of-type {
              padding-top: 1vh;
            }
          }
          h2 {
            font-size: 16px;
            font-weight: bold;
            &:last-of-type {
              margin-bottom: 2vh;
            }
          }
          .button-activity {
            margin-bottom: -1.7em !important;
          }
        }
      }
    }
  }
}
