<div class="wrapper"> <!-- Main Wrapper -->
  <section id="internship"> <!-- Content Section Intro -->
    <div class="inner"> <!-- Inner -->
      
      <div class="logo"> <!-- Logo -->
        <a [routerLink]="['/']" 
           aria-label="lien vers l'accueil" 
           role="button">
          <img src="assets/img/logos/logo-cabinet-curiosites.png"
               alt="logo cabinet de curiosité"/>
        </a>
        <h1>Exploration <br>Scientifique</h1>
      </div> <!-- Logo End -->

      <div class="internship-card">
        <div class="internship-description">
          <h1>Les stages</h1>
          <h2>Chaque stage est l’occasion de 
              découvrir par le jeu, une thématique 
              technique : décrypter un signal codé, fabriquer 
              un rover d’exploration, programmer 
              un robot pour le sortir d’un 
              labyrinthe... <br>
              C’est toi qui es aux commandes. 
              Alors fabrique, programme ou 
              observe, pour répondre au défi, 
              résoudre l’énigme ou mener 
              ton enquête !
          </h2>
        </div>
        <div class="internship-text">
          <h1>Informations</h1>
          <h2>Vacances scolaires</h2>
          <h2>3h x 3 demi-journées</h2>
          <h2>Par niveau (10-18 ans)</h2>
          <h2>4 à 8 participants</h2>
          <p></p>
          <h1>Tarif</h1>
          <h2 class="last-h2">145€ / Stage</h2>
          <p></p>
          <div class="button-activity">
            <a href="assets/pdf/formulaireContactStage.pdf" 
               target="_blank" 
               rel="noopener noreferrer" 
               class="inscription" 
               aria-label="bouton je m'inscris"
               role="button">Je m'inscris
            </a>
          </div>
        </div>
      </div>

    </div> <!-- Inner End -->
    
  </section> <!-- Content Section Intro End -->

  <section id="challenge"> <!-- Content Second Section -->

    <section id="title"> <!-- Section Title -->
      <div class="inner">
        <h2>Prochains stages aux vacances de février</h2>
      </div>
    </section> <!-- Section Title End -->

    <div class="wrapper2">  <!-- Card -->

      <section class="challenge"> <!-- Section Internship -->
        <div class="content" 
             data-aos="fade-up"
             data-aos-duration="2000"
             data-aos-delay="200">
          <div class="inner">
            <div class="div-img hill"></div>
            <h3>Défi de la Côte</h3>
            <div class="text">Ce stage est un challenge technique, dans 
                lequel les jeunes doivent construire, à l'aide 
                de légos techniques, un véhicule capable de 
                franchir la pente la plus abrupte possible. <br>
                Ils procèdent par essais-erreurs pour 
                améliorer chacun leur prototype. <br>
                Ils sont guidés dans leurs choix de fabrication,
                qui sont l'occasion d'aborder des 
                notions d'électricité, de moteur, de roues motrices, 
                d’adhérence, de centre de gravité, de 
                démultiplication... <br>
                Le record sera t-il battu ? <br>
              <h5># mécanique, créativité, prototypes, moteurs, 
                  engrenages, sans écran
              </h5>
            </div>
          </div>
        </div>

        <div class="content" 
             data-aos="fade-up"
             data-aos-duration="2000"
             data-aos-delay="200">
          <div class="inner">
            <div class="div-img maze"></div>
            <h3>Sors du Labyrinthe</h3>
            <div class="text">Les jeunes apprennent à programmer des 
                cartes électroniques, embarquées sur des 
                robots. Ce stage est un scénario dans lequel 
                les équipes coopérent pour trouver une 
                stratégie permettant aux robots de trouver le 
                chemin de sortie du labyrinthe ! <br>
                Initiation à l’informatique, à la 
                programmation embarquée, à la manipulation de robots et
                de capteurs, à l'algorithmie, à la logique... <br>
              <h5># robotique, programmation, expérimentation, 
                plateau de jeu, stratégie
              </h5>
            </div>
          </div>
        </div>
      </section> <!-- Section Internship End -->

      <section class="contact"> <!-- Section Inscription -->
        <div class="button-activity">
          <a href="assets/pdf/formulaireContact.pdf" 
              target="_blank" 
              rel="noopener noreferrer" 
              class="inscription"
              aria-label="bouton je m'inscris" 
              role="button">Je m'inscris
          </a>
        </div>
      </section> <!-- Section Inscription End -->

    </div> <!-- Card End -->

  </section> <!-- Content Second Section End -->

</div>  <!-- Main Wrapper End -->
