<div class="wrapper"> <!-- Main Wrapper -->
  <section id="internship" class="fade-up"> <!-- Content Section Intro -->
    <div class="inner"> <!-- Inner -->
      
      <div class="logo"> <!-- Logo -->
        <a [routerLink]="['/']" 
           aria-label="lien vers l'accueil" 
           role="button">
          <img src="assets/img/logos/logo-cabinet-curiosites.png"
               alt="logo cabinet de curiosité"/>
        </a>
        <h1>Exploration <br>Scientifique</h1>
      </div> <!-- Logo End -->

      <div class="internship-card">
        <div class="internship-description">
          <h1>Les stages</h1>
          <h2>Chaque stage est l’occasion de découvrir par le jeu 
              une thématique technique : décrypter un signal codé, 
              fabriquer un rover d’exploration, programmer un robot 
              pour le sortir d’un labyrinthe... C’est toi qui est 
              aux commandes ! <br>Alors fabrique, programme ou pilote, 
              pour répondre au défi, résoudre l’énigme ou mener 
              ton enquête !
          </h2>
        </div>
        <div class="internship-text">
          <h1>Informations</h1>
          <h2>Vacances scolaires</h2>
          <h2>3h x 3 demi-journées</h2>
          <h2>Par niveau (10-18 ans)</h2>
          <h2>4 à 8 participants</h2>
          <p></p>
          <h1>Tarif</h1>
          <h2 class="last-h2">145€ / Stage</h2>
          <p></p>
          <div class="button-activity">
            <a href="assets/pdf/formulaireContact.pdf" 
               target="_blank" 
               rel="noopener noreferrer" 
               class="inscription" 
               aria-label="bouton je m'inscris"
               role="button">Je m'inscris
            </a>
          </div>
        </div>
      </div>

    </div> <!-- Inner End -->
  </section> <!-- Content Section Intro End -->

  <section id="challenge"> <!-- Content Second Section -->

    <section id="title"> <!-- Section Title -->
      <div class="inner">
        <h2>Prochains stages aux vacances de février</h2>
      </div>
    </section> <!-- Section Title End -->

    <div class="wrapper2 style2 spotlights">  <!-- Card -->

      <section class="challenge"> <!-- Section Internship -->
        <div class="content">
          <h3>Défi de la Côte</h3>
          <div class="inner">
            <div class="div-img hill"></div>
            <div class="text">Le stage est un challenge technique: 
                construire avec des légos techniques, un véhicule capable de franchir 
                la pente la plus abruptes possible. Les enfants sont guidés et 
                procèdent par essais-erreurs pour améliorer chacun leur prototype. 
                Les notions de moteur, roues motrices, d’adhérence, de centre de 
                record sera t-il battu?<br>
              <h5># robotique, créativité, prototypes, 
                  essais-erreurs, assemblage, moteurs, engrenages, sans écran
              </h5>
            </div>
          </div>
        </div>

        <div class="content">
          <h3>Sors du Labyrinthe</h3>
          <div class="inner">
            <div class="div-img maze"></div>
            <div class="text">Les enfants apprennent à programmer des cartes électroniques 
                embarquées sur des robots, qui ont pour mission de s’échapper 
                d’un labyrinthe! Ce stage est un scénario dans lequel 2 équipes 
                doivent coopérer pour programmer leur robot et lui faire retrouver 
                le chemin de la sortie. Initiation à l’informatique, à la 
                programmation embarquée, à la logique et manipulation de robots, 
                de capteurs.<br>
              <h5># robotique, logique, escape-game, expérimentation, algorithmie, 
                  plateau de jeu, stratégie
              </h5>
            </div>
          </div>
        </div>
      </section> <!-- Section Internship End -->

      <section class="contact"> <!-- Section Inscription -->
        <div class="content">
          <h4>À partir de 10 ans</h4>
          <h4>9h / 3 demie-journées</h4>
          <h4>Pendant les vacances</h4>
        </div>
        <div class="button-activity">
          <a href="assets/pdf/formulaireContact.pdf" 
              target="_blank" 
              rel="noopener noreferrer" 
              class="inscription"
              aria-label="bouton je m'inscris" 
              role="button">Je m'inscris
          </a>
        </div>
      </section> <!-- Section Inscription End -->

    </div> <!-- Card End -->

  </section> <!-- Content Second Section End -->

</div>  <!-- Main Wrapper End -->
