.wrapper{
  min-height: 100%;
  margin: 0 0 0 0;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 0 0 7vh 0;
    .title {
      span {
        font-family: var(--font-text);
        -webkit-text-stroke: 2px var(--color-blue);
        font-weight: 900;
        font-size: 4rem;
      }
      p {
        color: var(--color-blue);
      }
    }
    .img {
      display: flex;
      justify-content: center;
      align-items: center;
      .img-404 {
        width: 240px;
        height: 280px;
      }
    }
    .div-timer {
      margin: 0 0 3vh 0;
      text-align: center;
      p > span.color {
        color: var(--color-blue);
        font-size: 2vh;
      }
    }
  }
}


/* ------ Responsive ------ */
// @media screen and(min-width: 500px) {
//  .wrapper {
//   .container {
//     height: 79vh;
//   }
//  }
// }

@media screen and(min-width: 768px) {
  .wrapper {
    .container {
      margin: 6vh 0 0 0;
    }
  }
}

@media screen and(min-width: 1080px) {
  .wrapper {
    .container {
      margin: 9vh 0 0 0;
    }
  }
}
