<footer>
  <div class="container">
    <div class="social">
      <ul>
        <li>
          <a href="https://www.facebook.com/CabinetCuriositesAngouleme/" 
             target="new"
             aria-label="lien menant vers la page Facebook du Cabinet de Curiosités" 
             type="button"
             rel="noopener noreferrer"
             matTooltip="Lien Facebook"
             matTooltipPosition="above"
             matTooltipShowDelay="200"
             matTooltipClass="'mat-tooltip'">
            <fa-icon [icon]="faFacebook"
                     alt="icône menant vers la page Facebook du Cabinet de Curiosités"></fa-icon></a>
        </li>
        <li>
          <a href="https://www.instagram.com/le_cabinet_curiosites/" 
             target="new"
             aria-label="lien menant vers la page Instagram du Cabinet de Curiosités" 
             type="button"
             rel="noopener noreferrer"
             matTooltip="Lien Instagram"
             matTooltipPosition="above"
             matTooltipShowDelay="200"
             matTooltipClass="'mat-tooltip'">
            <fa-icon [icon]="faInstagram"
                     alt="icône menant vers la page Instagram du Cabinet de Curiosités"></fa-icon></a>
        </li>
        <li>
          <a [routerLink]="['/']"
             [fragment]="'email'"
             aria-label="lien vers le formulaire de contact suur la page d'accueil"
             type="button"
             matTooltip="Lien Formulaire Email"
             matTooltipPosition="above"
             matTooltipShowDelay="200"
             matTooltipClass="'mat-tooltip'">
            <fa-icon [icon]="faEnvelope"
                     alt="icône vers le formulaire de contact suur la page d'accueil"></fa-icon></a>
        </li>
      </ul>
    </div>
  </div>
  <a>©2023 <a href="https://www.societe.com/societe/makerspot-918065210.html" 
              target="new"
              type="button"
              rel="noopener noreferrer"
              matTooltip="Le Cabinet de curiosités par Makerspot"
              matTooltipPosition="above"
              matTooltipShowDelay="200"
              matTooltipClass="'mat-tooltip'"
              aria-label="Lien vers le site société.com dispensant les infos sur la société Makerspot"
              class="owner">{{name}} par Makerspot<br></a> - 
    All rights reserved.</a>
  <br>SARL unipersonnelle, capital: 2000€
  <br>Siret : 918 065 210 000 18
  <a class="host">
    <br>Site développé par 
    <a href="https://www.emmanuellefevre.com/" 
       rel="noopener noreferrer"
       type="button"
       aria-label="Lien vers le portfolio du développeur du site"
       matTooltip="Portfolio Emmanuel Lefevre"
       matTooltipPosition="above"
       matTooltipShowDelay="200"
       matTooltipClass="'mat-tooltip'"
       target="new"><span>Emmanuel Lefevre</span></a> 
       et hébergé sur 
    <a href="https://www.o2switch.fr/"
       rel="noopener noreferrer"
       type="button"
       aria-label="Lien vers le site de l'hébergeur o2switch"
       matTooltip="Hébergeur o2switch"
       matTooltipPosition="above"
       matTooltipShowDelay="200"
       matTooltipClass="'mat-tooltip'"
       target="new"><span>o2switch</span></a> 
      Chemin des Pardiaux 63000 Clermont-Ferrand.
    <br>
    <fa-icon [icon]="faPhoneAlt"
             alt="Icône pour agrémenter le numéro de téléphone de l'hébergeur du site">
    </fa-icon> 0 805 080 426
  </a>
</footer>