<div class="wrapper"> <!-- Main Wrapper -->
  <section id="intro"
           aria-label="Section de présentation du Cabinet de Curiosités"> <!-- Content Intro Section  -->
    <h1>Le Cabinet de Curiosités</h1>
    <p>Le Cabinet de Curiosités est un club d’exploration numérique et scientifique. 
      Sa raison d'être est d'intéresser les jeunes aux sciences, en animant des 
      séances de création, de découverte et d'expérimentation, dans un véritable 
      atelier. Tous les coups sont permis : jeux scénarisés, challenges, enquêtes, 
      énigmes, phénomènes scientifiques inattendus...
    </p>
  </section> <!-- Content Intro Section -->

  <section id="project"> <!-- Project Section -->

    <section class="photo"
             aria-label="Section de la photo de Nicolas Clément"> <!-- Photo Section -->
      <div class="photo-container">
        <img id="photo" src="assets/img/project-portrait.jpg" 
             alt="photo de Nicolas Clément">
        <h3><p>Nicolas Clément<br><span>Le Cabinet de Curiosités</span></p></h3>
      </div>
      <a [routerLink]="['/']" 
         aria-label="Lien vers la page d'accueil" 
         type="button">
        <img id="logo" src="assets/img/logos/logo-cabinet-curiosites-bleu.png" 
             alt="logo du cabinet de curiosité">
      </a>
    </section> <!-- Photo Section End -->

    <main> <!-- Main -->
      <section class="inner" 
               aria-label="Section principal présentant les enjeux et objectifs du Cabinet de Curiosités"> <!-- Main Inner Section -->
        <h2>Pourquoi la robotique ?</h2>
        <p>Donner goût aux sciences et encourager les talents, par le jeu et 
          l’expérimentation. Programme ambitieux du Cabinet de Curiosités !
        </p>
        <hr>
        <p>La robotique tient une place centrale dans ce projet, car elle est un 
          formidable outil de médiation. Elle intrigue autant qu’elle fascine et 
          permet d'aborder l’électronique, la mécanique et l’informatique. 
          Je pourrais ajouter les mathématiques, la physique, l’algorithmie, 
          la logique... Suscitant au passage des vocations dans les filières 
          scientifiques, permettant aux jeunes d'envisager des métiers qui leur 
          étaient inconnus.
        </p>
        <hr>
        <p>Fort de mes expériences de professeur de collège, d'encadrement de 
          projets étudiants, d'animations et médiations scientifiques tout public, 
          de mon implication en milieu associatif, je mets ma rigueur scientifique 
          à l'épreuve des questions impertinentes des jeunes et leur propose des 
          séances toujours plus surprenantes.</p>
  
        <h2>Construire des raisonnements</h2>
        <p>Comme son nom le suggère, « Le Cabinet de Curiosités » est une fenêtre 
          sur toutes les intrigues scientifiques. Ainsi, le génie du vivant ou les 
          bizarreries de la chimie, ont autant leur place que la conquête spatiale 
          et ses rovers martiens. Le fil conducteur est la découverte et 
          l’expérimentation.
        </p>
        <hr>
        <p>Cette plongée dans la technologie permet de construire une pensée critique 
          et lucide sur l'utilité et les limites du tout numérique.
        </p>
        <hr>       
        <p>Ce projet est aussi une réponse à la désertification des filières scientifiques, 
          notamment par les profils féminins, dans une période où les débats liés à la 
          médecine, à l’énergie, à l’environnement soulèvent justement de nombreuses 
          questions scientifiques...</p>
  
        <h2>Répondre à des enjeux de société</h2>
        <p>Ingénieur en intelligence artificielle, reconnaissance des formes et robotique, 
          j'ai travaillé dans l'industrie et la recherche, avant de m'intéresser d'avantage 
          à la production et médiation scientifique.
        </p>
        <hr>
        <p>Je m’attache à fabriquer des kits pédagogiques qui permettent aux jeunes 
          l'assimilation intuitive de notions scientifiques.
        </p>
        <hr>
        <p>Je suis persuadé que l’innovation ne se pratique pas seulement dans les laboratoires 
          ou les entreprises de pointe, mais par tout ceux qui se sentent concernés par les 
          enjeux à venir, tant sociaux, qu’environnementaux. Le Cabinet de Curiosités se veut 
          être le lieu de partage et d’expérimentation répondant à ce besoin.
        </p>
        <hr>
        <p>Je donne aussi rendez-vous aux adultes qui souhaitent se former au numérique ou être 
          accompagnés dans leurs projets techniques.</p>
        </section> <!-- Main Inner Section -->
    </main> <!-- Main End -->

  </section> <!-- Project Section End -->
</div> <!-- Main Wrapper End -->
