header {
  position: fixed;
  width: 100vw;
  height: 100vh;
  color: var(--color-blue);
  font-size: 2.5rem;
  nav {
    height: 100vh;
    fa-icon {
      margin: 0 0 0 15px;
    }
    .nav-links {
      display: none;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 85vh;
        li {
          margin: 3vh 0 3vh 0;
          a {
            font-family: var(--font-nav);
            font-size: 4rem;
          }
        }
        .active-link > a {
          color: var(--text-color-pink);
          border-bottom: solid 2px var(--border-color-pink);
        }
      }
    }
  }
}

/* ------ Opened Burger ------ */
.burger-opened:host {
  header {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    .nav-links {
      display: block !important;
      flex: none !important;
      a {
        display: block !important;
      }
    }
  }
}


/* ------ Responsive ------ */
@media screen and (min-width: 768px) {
  header {
    height: 8vh;
    width: 100vw;
    background-color: var(--bg-color);
    backdrop-filter: none;
    .burger {
      display: none;
    }
    nav {
      height: unset;
      width: 100vw;
      .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        ul {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: auto;
          padding-top: 1vh;
          li {
            margin: 0 2vw 0 2vw;
            a {
              font-size: 2.3rem;
              &:hover {
                color: var(--color-pink);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1080px) {
  header {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    width: 6em;
    z-index: 10000;
    background-color: var(--bg-nav-color-xl);
    nav {
      display: flex !important;
      justify-content: center !important;
      min-height: 100%;
      width: 100%;
      text-align: right;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: opacity 1s ease;
      transition: opacity 1s ease;
      opacity: 1;
      .nav-links {
        ul {
          display: flex;
          flex-direction: column;
          padding-top: 0;
          li {
            padding: 1.4vh 0 1.4vh 0;
            a {
              // font-family: var(--font-body);
              font-size: 1em;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}