<header>
  <nav (click)="toggleBurger()"
       (scroll)="scrollHandler($event)">
    <!-- <div class="nav-logo">
      <a [routerLink]="['/']">Logo</a>
    </div> -->
    <div class="burger">
      <fa-icon [icon]="faBars"
               alt="menu hamburger">{{!burgerOpened ? 'menu': 'close'}}
      </fa-icon>
    </div>
    <div class="nav-links">
      <ul>
        <li #welcome
            [routerLinkActive]="['active-link']"
            [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/']"
             aria-label="bouton accueil"
             role="button">Accueil
          </a>
        </li>
        <li #contact>
          <a [routerLink]="['/']"
             [fragment]="'contact'"
             aria-label="bouton contact"
             role="button">Contact
          </a>
        </li>
        <li [routerLinkActive]="['active-link']">
          <a [routerLink]="['club']"
             aria-label="bouton club de robotique"
             role="button">Club <br>de robotique
          </a>
        </li>
        <li [routerLinkActive]="['active-link']">
          <a [routerLink]="['stage']"
             aria-label="bouton stages scientifiques"
             role="button">Stages <br>scientifiques
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
