header {
  position: fixed;
  width: 100vw;
  color: var(--color-blue);
  background-color: var(--bg-color);
  nav {
    fa-icon {
      font-size: 2.5rem;
      margin: 0 0 0 15px;
    }
    .nav-links {
      display: none;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 85vh;
        li {
          margin: 3vh 0 3vh 0;
          a {
            font-family: var(--font-nav);
            font-size: 2em;
            text-transform: uppercase;
            span {
              display: none;
            }
          }
        }
        .active-link > a {
          color: var(--text-color-pink);
          border-bottom: solid 2px var(--border-color-pink);
        }
      }
    }
  }
}

/* ------ Opened Burger ------ */
.burger-opened:host {
  header {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    .nav-links {
      display: block !important;
      flex: none !important;
      a {
        display: block !important;
      }
    }
  }
}


/* ------ Responsive ------ */
@media screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    height: 8vh;
    width: 100vw;
    background-color: var(--bg-nav-color) !important;
    backdrop-filter: none !important;
    .burger {
      display: none;
    }
    nav {
      width: 100vw;
      .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        ul {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: auto;
          li {
            margin: 0 2vw 0 2vw;
            a {
              font-size: 11px;
              font-weight: bold;
              letter-spacing: 0.2em;
              &:hover {
                color: var(--color-pink);
              }
              span {
                display: inline;
              }
            }
          }
          .active-link > a {
            padding-bottom: 1vh;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1080px) {
  header {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    width: 18em;
    padding: 2.5em 2.5em 2.5em 2.5em;
    top: 0;
    left: 0;
    background-color: var(--bg-nav-color-xl) !important;
    z-index: 999;
    nav {
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      min-height: 100%;
      width: 100%;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: opacity 1s ease;
      transition: opacity 1s ease;
      opacity: 1;
      .nav-links {
        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          padding-top: 0;
          li {
            padding: 1.4vh 0 1.4vh 0;
            margin: 0;
            a {
              font-size: 13px;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}