header {
  position: fixed;
  width: 100%;
  color: var(--text-color-blue);
  background-color: var(--bg-color);
  z-index: 10000;
  nav {
    -moz-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: opacity 1s ease;
    fa-icon {
      font-size: 2.5rem;
      margin: 0 0 0 7px;
    }
    .nav-links {
      display: none;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 85vh;
        li {
          margin: 3vh 0 3vh 0;
          -moz-transition: opacity 0.15s ease, -moz-transform 0.75s ease;
          -webkit-transition: opacity 0.15s ease, -webkit-transform 0.75s ease;
          -ms-transition: opacity 0.15s ease, -ms-transform 0.75s ease;
          transition: opacity 0.15s ease, transform 0.75s ease;
          a {
            font-family: var(--font-nav);
            font-size: 2em;
            font-weight: bold;
            text-transform: uppercase;
            -moz-transition: color 0.2s ease;
            -webkit-transition: color 0.2s ease;
            -ms-transition: color 0.2s ease;
            transition: color 0.2s ease;
          }
        }
        .active-link > a {
          color: var(--text-color-nav);
          border-bottom: solid 2px var(--border-color-nav);
        }
      }
    }
  }
}

/* ------ Opened Burger ------ */
.burger-opened:host {
  header {
    height: 100vh;
    background-attachment: fixed;
    background-image: url("./../../../assets/img/burger-ambiance.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 100% 85%;
    backdrop-filter: blur(10px);
    z-index: 10000;
    .nav-links {
      display: block !important;
      flex: none !important;
      a {
        display: block !important;
        text-align: center;
        &:link {
          color: var(--text-color-blue);
        }
      }
    }
  }
}


/* ------ Responsive ------ */
@media screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    height: 3.5em;
    width: 100%;
    background-color: var(--bg-nav-color) !important;
    backdrop-filter: none !important;
    z-index: 10000;
    .burger {
      display: none;
    }
    nav {
      width: 100%;
      -webkit-animation: bounceInLeft 1.5s linear 0s;
      animation: bounceInLeft 1.5s linear 0s;
      .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        ul {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: auto;
          li {
            margin: 0 2vw 0 2vw;
            a {
              font-size: 9.6px;
              font-weight: bold;
              padding-bottom: 2.1vh;
              letter-spacing: 0.25em;
              line-height: 1.75;
              outline: 0;
              border-bottom: solid 2px var(--border-bottom-color-nav);
              color: rgba(255, 255, 255, 0.35);
              &:hover {
                color: var(--hover-nav);
                border-bottom: solid 2px var(--border-color-blue);
              }
              br {
                display: none;
              }
            }
          }
          .active-link > a {
            &:hover {
              color: var(--text-color-nav);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1080px) {
  header {
    position: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    width: 18em;
    padding: 2.5em 2.2em 2.5em 2.2em;
    top: 0;
    left: 0;
    z-index: 999;
    nav {
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      min-height: 100%;
      width: 100%;
      -webkit-animation: fadeInUp 1.5s linear 0s;
      animation: fadeInUp 1.5s linear 0s;
      opacity: 1;
      .nav-links {
        display: block;
        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-top: 0;
          li {
            display: flex;
            flex-direction: column;
            text-align: right;
            width: 100%;
            margin: 3em 0 0 0;
            padding: 0;
            transition: opacity 0.15s ease, transform 0.75s ease;
            a {
              width: 100%;
              font-size: 10.4px;
              padding-bottom: 1.4vh;
              border-bottom: solid 2px var(--border-bottom-color-nav);
              &:hover {
                border-image: var(--bg-linear-color2) 1;
              }
            }
          }
          li:first-child {
            margin: 0;
          }
          .active-link > a {
            color: var(--text-color-nav);
            border-style: solid;
            border-bottom: 2px solid transparent;
            border-image: var(--bg-linear-color) 1 !important;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1650px) {
  header {
    width: 22em;
    nav {
      .nav-links {
        ul {
          li {
            a {
              font-size: 11.8px;
            }
          }
        }
      }
    }
  }
}
