@import "src/assets/scss/animations.scss";

@media screen and (max-width: 550px) {
  .button-scroll {
    display: none;
  }
}

@media screen and (min-width: 550px) {
  .button-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    background-color: var(--button-scroll-bg-color);
    // border-color: var(--bg-color-light);
    border: 3px solid var(--bg-color-light);
    width: 3.5rem;
    height: 3.5rem;
    right: 2vw;
    bottom: 2vh;
    opacity: 0;
    transition: all .2s ease-in-out;
    border-radius: 50%;
    line-height: 28px;
    z-index: 999;
    &:hover {
      transition: all .2s ease-in-out;
      background-color: var(--color-white);
      border-color: var(--color-blue);
      fa-icon {
        color: var(--color-blue);
      }
    }
    fa-icon {
      font-size: 30px;
      color: var(--button-scroll-color);
      &:hover {
        -webkit-animation: rubberBand 1.5s linear 0s infinite reverse;
        animation: rubberBand 1.5s linear 0s infinite reverse;
      }
    }
  }
  .button-scroll--show {
    opacity: 1;
  }
}

@media screen and (min-width: 1080px) {
  .button-scroll {
    width: 4rem;
    height: 4rem;
    fa-icon {
      font-size: 35px;
    }
  }
}

@media screen and (min-width: 1650px) {
  .button-scroll {
    width: 4.4rem;
    height: 4.4rem;
    right: 2.3vw;
    bottom: 4vh;
    fa-icon {
      font-size: 40px;
    }
  }
}
