@use '@angular/material' as mat;
@include mat.core();
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* ------ Color Palette ------ */
:root {
  /*---Main---*/
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: #21D0C1;
  --color-pink: #FF5EFF;
  --color-pink2: #b74e91;
  --color-pink3: #3c2c62;
  --color-alert: red;
  /*---Background---*/
  --bg-color: #001C2C;
  --bg-color-light: #083148;
  --bg-card-color: #3c4887;
  --bg-nav-color: var(--bg-color-light);
  --bg-footer-color: var(--bg-color-light);
  /*---Text---*/
  --text-color-dark: var(--color-black);
  --text-color-white: var(--color-white);
  --text-color-blue: var(--color-blue);
  --text-color-pink: var(--color-pink);
  --text-color-nav: var(--color-pink2);
  --text-color-card: var(--bg-color);
  /*---Buttons---*/
  --button-text-color: var(--color-white);
  --button-bg-color-blue: var(--color-blue);
  --button-bg-color-pink: var(--color-pink);
  --button-scroll-color: var(--color-white);
  --button-scroll-bg-color: var(--color-blue);
  /*---Borders---*/
  --border-color-blue: var(--color-blue);
  --border-color-pink: var(--color-pink);
  --border-color-nav: var(--color-pink2);
  --border-bottom-color-nav: var(--color-pink3);
  /*---Hovers---*/
  --hover-nav: var(--color-pink2);
}

/* ------ Semantic Fonts ------ */
:root {
  /*---Chipen---*/
  --font-body: 'arial', 'helvetica', sans-serif;
  --font-nav: 'arial', 'helvetica', sans-serif;
  --font-card: 'arial', 'helvetica', sans-serif;
  --font-text: 'arial', 'helvetica', sans-serif;
  --font-footer: 'poppins', sans-serif;
}

@font-face {
  font-family: "poppins";
  src: url("assets/fonts/poppins/Poppins-Medium.ttf") format("truetype");
}

/* ------ Imports ------ */
@import "~animate.css/animate.min.css";
@import "~leaflet/dist/leaflet.css";

/* ------ Reset ------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
*:visited {
  text-decoration: none;
  color: inherit;
}

/* ------ HTML ------ */
html {
  position: relative;
	min-height: 100vh;
}

/* ------ Body ------ */
body {
  font-family: var(--font-body);
  color: var(--color-white);
  background-color: var(--bg-color);
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding: 2vh 0 11em 0;
    h1 {
      font-size: 30px;
      color: var(--color-blue);
      margin: 2vh 0 1vh 0;
      text-transform: uppercase;
    }
    h3 {
      font-size: 24px;
      margin-bottom: 3vh;
    }
    .logo {
      margin: 7vh 0 0 0;
      img {
        width: 130px;
        margin: 0 0 0 0;
        height: fit-content;
      }
      h1 {
        color: var(--text-color-blue);
      }
      h3 {
        margin: 0;
      }
    }
    .inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .button-activity {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-self: normal;
      margin-bottom: -1.7em;
      a {
        font-family: var(--font-text);
        font-weight: bold;
        transition: border-color 0.2s ease;
        border-radius: 48px;
        color: var(--color-white);
        text-transform: uppercase;
        font-size: 10px;
        width: 130px;
        height: calc(4.75em + 2px);
        letter-spacing: 0.2em;
        padding: 1.7em 0em;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
      }
      .inscription {
        background-color: var(--color-pink);
        border: 2px solid var(--border-color-pink);
      }
      .link {
        background-color: var(--color-blue);
        border: 2px solid var(--border-color-blue);
      }
    }
    .call-action-scroll {
      display: flex;
      justify-content: center;
      .mouse-icon {
        margin-top: 5em;
        border: 3px solid var(--color-pink);
        border-radius: 16px;
        height: 50px;
        width: 30px;
        position: absolute;
        z-index: 2;
        .wheel {
          -webkit-animation-name: drop;
          -webkit-animation-duration: 2s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-delay: 0s;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-play-state: running;
          animation-name: drop;
          animation-duration: 2s;
          animation-timing-function: linear;
          animation-delay: 0s;
          animation-iteration-count: infinite;
          animation-play-state: running;
          position: relative;
          border-radius: 10px;
          background: var(--color-blue);
          width: 4px;
          height: 10px;
          top: 4px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

/* ------ Responsive ------ */
@media screen and (min-width: 768px) {
  body {
    .wrapper {
      padding: 3.5em 0 12em 0;
      .logo {
        margin: 5vh 0 0 0;
      }
      .button-activity {
        a {
          &:hover {
            background-color: var(--color-white);
          }
        }
        .inscription {
          &:hover {
            color: var(--text-color-pink);
          }
        }
        .link {
          &:hover {
            color: var(--text-color-blue);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1080px) {
  body {
    .wrapper {
      padding: 0 0 12em 18em;
    }
  }
}

@media screen and (min-width: 1650px) {
  body {
    .wrapper {
      padding: 0 0 12em 22em;
      .logo {
        h1 {
          font-size: 50px !important;
        }
      }
    }
  }
}
