<div class="wrapper"> <!-- Main Wrapper -->  

  <section id="intro"> <!-- Intro Section -->

    <div class="full-page">

      <div class="logo"> <!-- Logo -->
        <img src="assets/img/logos/logo-cabinet-curiosites.png"
             alt="logo cabinet de curiosité"/> 
        <div>
          <h1>Le Cabinet de Curiosités</h1>
          <h3>Exploration numérique et scientifique</h3>
        </div>
      </div> <!-- Logo End -->
  
      <div class="inner"> <!-- Div Inner -->
        <div class="activity animate__animated animate__flipInX">
  
          <div class="card">
            <img src="assets/img/card-workshop.png"
                 class="card-img"
                 alt="pictogramme de robot d'exploration de planètes"/>
            <div class="card-text">
              <h3>Club de <br> Robotique</h3> 
              <h5>Pour explorer <br> l'univers du numérique, <br> inventer, fabriquer... <br> 
                le tout, saupoudré <br> d'expériences scientifiques.
              </h5>
              <p></p>
              <h4><span>À partir de 10 ans</span></h4>
              <h5>Atelier 1h30 / Semaine</h5>
            </div>
            <div class="button-activity">
              <a href="assets/pdf/formulaireContactAtelier.pdf" 
                 target="new" 
                 rel="noopener noreferrer"
                 class="inscription" 
                 role="button"
                 aria-label="bouton je m'inscris">Je m'inscris
              </a>
              <a [routerLink]="['club']"
                 class="link" 
                 role="button"
                 aria-label="bouton en savoir plus">En savoir plus
              </a>
            </div>                            
          </div>
          <div class="card">
            <img src="assets/img/card-internship.png"
                 class="card-img"
                 alt="image rover"/>
            <div class="card-text">
              <h3>Stages <br> Scientifiques</h3> 
              <h5>Pour relever <br>des challenges techniques.<br> 
                Découvrir en fabriquant <br>des prototypes et <br>
                en faisant des expériences.
              </h5>
              <p></p>
              <h4><span>À partir de 10 ans</span></h4>
              <h5>Stage 3 demi-journées</h5>
            </div>
            <div class="button-activity">
              <a href="assets/pdf/formulaireContactStage.pdf" 
                  target="new" 
                  rel="noopener noreferrer" 
                  role="button"
                  class="inscription"
                  aria-label="bouton je m'inscris">Je m'inscris
              </a>
              <a [routerLink]="['stage']" 
                  class="link" 
                  role="button"
                  aria-label="bouton en savoir plus">En savoir plus
              </a>
            </div>
          </div>
               
        </div>
      </div> <!-- Div Inner End -->
      
    </div>

    <div class="inner"> <!-- Image Banner -->
      <div class="image-banner">
        <img src="assets/img/banner-home.jpg"
             alt="photo de plusieurs rovers programmables">
      </div>
    </div> <!-- Image Banner End -->
                        
    <div class="inner color-fade"> <!-- Activity Cards -->
      <div class="activity2">

        <div class="card">
          <img src="assets/img/card-computer.png"
               class="card-img"
               alt="image ordinateur"/>
          <div class="card-text">
            <h3>Ateliers <br>tout Public</h3>
            <h5>Formation à la programmation, <br>à l'électronique, à la conception 
              <br>de pièces mécaniques, 
              <br>à l'utilisation d'outils numériques.
            </h5>
            <p></p>
            <h4>Adultes</h4>
            <h4><br></h4>
            <h5>Atelier en soirée</h5>
          </div>
          <div class="button-activity">
            <a href="assets/pdf/informationsComplementaires.pdf" 
                target="new" 
                rel="noopener noreferrer" 
                class="inscription"
                aria-label="bouton en savoir plus" 
                role="button">En savoir plus
            </a>
          </div>                            
        </div>  
        <div class="card">
          <img src="assets/img/card-rubik-cube.png" 
               class="card-img"
               alt="image de rubik cube"/>
          <div class="card-text">
            <h3>Animations <br>Groupes</h3> 
            <h5>Expertise, accompagnement et <br>développement de projets techniques. <br>
            Animation d'ateliers et <br>médiation numérique.</h5>
            <p></p>
            <h4>Entreprises, associations, collectivités</h4>
            <h5>Sur demande</h5>
          </div>
          <div class="button-activity">
            <a href="assets/pdf/informationsComplementaires.pdf" 
                target="new" 
                rel="noopener noreferrer" 
                class="inscription"
                aria-label="bouton en savoir plus">En savoir plus
            </a>
          </div>                           
        </div>

      </div>
    </div>  <!-- Activity Cards End -->

  </section> <!-- Section Intro End-->
            
  <section id="contact"> <!-- Section Contact -->
    <div class="inner"> <!-- Div Inner -->

      <h1>Contact</h1>
      <div class="split">
        <section class="social">
          <ul class="contact">
            <li><h2 class="first-h2">Le Cabinet de Curiosités</h2></li>
            <li><h2>50 rue Bourlion<br/> 16160 Gond-Pontouvre</h2></li>
            <li><h2 class="contact-email">contact@cabinet-curiosites.fr</h2></li>
            <li><h2>06 75 87 67 34</h2></li>
            <li>
              <ul class="icons">
                <li>
                  <a href="https://www.facebook.com/CabinetCuriositesAngouleme/" 
                     target="new"
                     aria-label="lien vers Facebook" 
                     role="button">
                    <img src="assets/img/logos/logoFb.png" 
                         alt="icône Facebook Cabinet de Curiosites">
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/le_cabinet_curiosites/" 
                     target="new"
                     aria-label="lien vers Instagram" 
                     role="button">
                    <img src="assets/img/logos/logoInsta.png" 
                         alt="icône Instagram Cabinet de Curiosites">
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </section>
        <section class="map">
          <app-map></app-map> <!-- Map Leaflet -->
        </section>
      </div>

    </div> <!-- Inner End -->
    <app-email-form></app-email-form> <!-- Email Form -->
  </section>  <!-- Section Contact End -->

</div> <!-- Main Wrapper End -->
