<div class="wrapper"> <!-- Main Wrapper -->  

  <section id="intro"> <!-- Intro Section -->

    <section class="first-content">

      <div class="logo"
           aria-label="Logo et titre exprimant le contenu de la page"> <!-- Logo -->
        <img src="assets/img/logos/logo-cabinet-curiosites.png"
             alt="logo cabinet de curiosités"/> 
        <div>
          <h1>{{name}}</h1>
          <h3>Exploration numérique et scientifique</h3>
        </div>
      </div> <!-- Logo End -->
  
      <section class="inner"
               aria-label="Section présentant les différentes activités du Cabinet de Curiosités"> <!-- Section Inner -->
        <div class="activity animate__animated animate__flipInX">
  
          <div class="card"
               aria-label="Carte présentant le club de robotique">
            <img src="assets/img/card-workshop.png"
                 class="card-img"
                 alt="pictogramme de robot d'exploration de planètes"/>
            <div class="card-text">
              <h3>Club de <br> Robotique</h3> 
              <h5>Pour explorer <br> l'univers du numérique, <br> inventer, fabriquer... <br> 
                le tout, saupoudré <br> d'expériences scientifiques.
              </h5>
              <p></p>
              <h4><span>À partir de 10 ans</span></h4>
              <h5>Atelier 1h30 / Semaine</h5>
            </div>
            <div class="button-activity">
              <a href="assets/pdf/formulaireContactAtelier.pdf" 
                 type="button"
                 aria-label="bouton je m'inscris menant au formulaire pdf téléchargeable"
                 target="new" 
                 rel="noopener noreferrer"
                 class="inscription">Je m'inscris
              </a>
              <a [routerLink]="['club']"
                 type="button"
                 aria-label="bouton en savoir plus menant à la page club"
                 class="link">En savoir plus
              </a>
            </div>                            
          </div>
          <div class="card"
               aria-label="Carte présentant les stages scientifiques proposés">
            <img src="assets/img/card-internship.png"
                 class="card-img"
                 alt="image rover"/>
            <div class="card-text">
              <h3>Stages <br> Scientifiques</h3> 
              <h5>Pour relever <br>des challenges techniques.<br> 
                Découvrir en fabriquant <br>des prototypes et <br>
                en faisant des expériences.
              </h5>
              <p></p>
              <h4><span>À partir de 10 ans</span></h4>
              <h5>Stage 3 demi-journées</h5>
            </div>
            <div class="button-activity">
              <a href="assets/pdf/formulaireContactStage.pdf"  
                 type="button"
                 aria-label="bouton je m'inscris menant au formulaire pdf téléchargeable"
                 target="new"
                 rel="noopener noreferrer"
                 class="inscription">Je m'inscris
              </a>
              <a [routerLink]="['stage']" 
                 type="button"
                 aria-label="bouton en savoir plus menant à la page stage"
                 class="link">En savoir plus
              </a>
            </div>
          </div>
               
        </div>
      </section> <!-- Section Inner End -->
      
    </section>

    <section class="inner"> <!-- Image Banner -->
      <div class="image-banner">
        <img src="assets/img/banner-home.jpg"
             alt="photo d'un rover programmable et de différentes cartes de programmation type Arduino/Raspberry">
      </div>
    </section> <!-- Image Banner End -->
                        
    <section class="inner color-fade"> <!-- Activity Cards -->
      <div class="activity2">

        <div class="card"
             aria-label="carte explicative des activités des ateliers">
          <img src="assets/img/card-computer.png"
               class="card-img"
               alt="image ordinateur"/>
          <div class="card-text">
            <h3>Ateliers <br>tout Public</h3>
            <h5>Formation à la programmation, <br>à l'électronique, à la conception 
              <br>de pièces mécaniques, 
              <br>à l'utilisation d'outils numériques.
            </h5>
            <p></p>
            <h4>Adultes</h4>
            <h4><br></h4>
            <h5>Atelier en soirée</h5>
          </div>
          <div class="button-activity">
            <a href="assets/pdf/informationsComplementaires.pdf" 
               type="button"
               aria-label="Bouton en savoir plus menant au formulaire pdf d'informations complémentaires"
               target="new" 
               rel="noopener noreferrer" 
               class="inscription">En savoir plus
            </a>
          </div>                            
        </div>  
        <div class="card"
             aria-label="carte explicative des animations de groupes">
          <img src="assets/img/card-rubik-cube.png" 
               class="card-img"
               alt="image de rubik cube"/>
          <div class="card-text">
            <h3>Animations <br>Groupes</h3> 
            <h5>Expertise, accompagnement et <br>développement de projets techniques. <br>
            Animation d'ateliers et <br>médiation numérique.</h5>
            <p></p>
            <h4>Entreprises, associations, collectivités</h4>
            <h5>Sur demande</h5>
          </div>
          <div class="button-activity">
            <a href="assets/pdf/informationsComplementaires.pdf" 
               type="button"
               aria-label="Bouton en savoir plus menant au formulaire pdf d'informations complémentaires"
               target="new" 
               rel="noopener noreferrer"
               class="inscription">En savoir plus
            </a>
          </div>                           
        </div>

      </div>
    </section>  <!-- Activity Cards End -->

  </section> <!-- Section Intro End-->
            
  <section id="contact"
           aria-label="Section du formulaire de contact par email et du plan d'accès aux locaux"> <!-- Section Contact -->
    <div class="inner"> <!-- Div Inner -->

      <h1>Contact</h1>
      <div class="split">
        <section class="social">
          <ul class="contact"
              aria-label="Informations adresse et téléphone du Cabinet de Curiosités">
            <li><h2 class="first-h2">{{name}}</h2></li>
            <li><h2>50 rue Bourlion<br/> 16160 Gond-Pontouvre</h2></li>
            <li><h2 class="contact-email">contact@cabinet-curiosites.fr</h2></li>
            <li><h2>06 75 87 67 34</h2></li>
            <li aria-label="Icônes menant vers les liens sociaux du Cabinet de Curiosités">
              <ul class="icons">
                <li>
                  <a href="https://www.facebook.com/CabinetCuriositesAngouleme/" 
                     type="button"
                     target="new"
                     aria-label="icône menant vers la page Facebook du Cabinet de Curiosités">
                    <img src="assets/img/logos/logoFb.png" 
                         alt="icône Facebook Cabinet de Curiosites"
                         matTooltip="Lien Facebook"
                         matTooltipPosition="below"
                         matTooltipShowDelay="200"
                         matTooltipClass="'mat-tooltip-social'">
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/le_cabinet_curiosites/" 
                     type="button"
                     target="new"
                     aria-label="icône menant vers la page Instagram du Cabinet de Curiosités">
                    <img src="assets/img/logos/logoInsta.png" 
                         alt="icône Instagram Cabinet de Curiosites"
                         matTooltip="Lien Instagram"
                         matTooltipPosition="below"
                         matTooltipShowDelay="200"
                         matTooltipClass="'mat-tooltip-social'">
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </section>
        <section class="map">
          <app-map></app-map> <!-- Map Leaflet -->
        </section>
      </div>

    </div> <!-- Inner End -->
    <app-email-form aria-label="Formulaire d'email afin de contacter le Cabinet de Curiosités"></app-email-form> <!-- Email Form -->
  </section>  <!-- Section Contact End -->

</div> <!-- Main Wrapper End -->
