.wrapper {
  #intro {
    width: 100%;
    background-attachment: fixed;
    background-image: url("./../../../assets/img/quadrillage.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .inner:nth-child(3) {
      margin-top: 10vh;
    }
    .inner {
      margin-top: 12vh;
      width: 100%;
      h3 {
        text-transform: uppercase;
        margin: 0 0 3vh 0;
        letter-spacing: 0.05em;
      }
      .activity {
        .card {
          width: 100%;
          border: solid 3px var(--border-color-blue);
          &:nth-child(2) {
            margin: 18vh 0 0 0;
          }
          img {
            width: 35%;
            margin-top: -60px;
          }
        }
      }
      .activity2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .card {
          width: 80%;
          border: solid 3px var(--border-color-pink);
          background-color: var(--bg-card-color);
          &:nth-child(2) {
            margin: 22vh 0 0 0;
          }
          img {
            width: 35%;
            margin-top: -115px;
          }
          h4 {
            text-transform: uppercase;
            letter-spacing: 0.03em;
          }
        }
      }
      .card-text {
        padding: 2vh 2vw 4vh 2vw;
        h4, h5 {
          font-family: var(--font-card);
        }
        h4 {
          margin-bottom: 0.9vh;
        }
        h5 {
          font-size: 16px;
          font-weight: normal;
        }
        h4 > span {
          color: var(--text-color-pink);
        }
        p {
          margin: 0 0 3vh 0;
        }
      }
      .image-banner {
        img {
          max-width: 100%;
          object-fit: cover;
        }
      }
    }
    .color-fade {
      background: linear-gradient(to bottom, var(--bg-color), transparent, 60%, var(--color-blue));
      padding: 3vh 0 8vh 0;
    }
  }
  #contact {
    width: 100%;
    margin-bottom: 3vh;
    .inner {
      width: 100%;
      section.map {
        display: flex;
        justify-content: center;
        border-top: solid 1px rgba(255, 255, 255, 0.15);
        padding: 3em 0 1.5em 0;
      }
      h1 {
        margin: 3vh 0 3vh 0;
        text-transform: uppercase;
      }
      .social {
        font-family: var(--font-text);
        .contact {
          font-size: 12px;
          .first {
            font-size: 1.8em;
            color: var(--text-color-blue);
            margin-bottom: 1vh;
          }
          ul.icons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 2em;
            margin: 0;
            li {
              margin: 0 2em 0 2em;
              img {
                height: 60%;
                width: auto;
              }
              fa-icon {
                font-size: 4em;
                color: var(--color-blue);
                &:hover {
                  color: var(--color-pink);
                }
              }
            }
          }
        }
      }
    }
  }
}


/* ------ Responsive ------ */
@media screen and (min-width: 940px) {
  .wrapper {
    .inner {
      .activity {
        display: flex;
        flex-direction: row;
        .card {
          margin: 0 3vw 0 3vw !important;
        }
      }
      .activity2 {
        display: flex;
        flex-direction: row !important;
        .card {
          margin: 0 3vw 0 3vw !important;
          &:nth-of-type(2) {
            padding: 1vh 0 0 0;
          }
        }
      }
    }
    .color-fade {
      padding: 3vh 0 10vh 0 !important;
    }
  }
}

@media screen and (min-width: 990px) {
  .wrapper {
    #contact {
      h1 {
        margin-bottom: 3vh;
      }
      .split {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        section.social {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 5vh 0 0 2vw;
        }
        section.map {
          border-top: none;
          border-right: solid 1px rgba(255, 255, 255, 0.15);
          padding: 0 8vw 0 0;
        }
      }
    }
  }
}

@media screen and (min-width: 1080px) {
  .wrapper {
    .inner:nth-child(3) {
      margin-top: 15.5vh !important;
    }
    .inner {
      .activity2 {
        .card {
          margin: 0 2vw 0 2vw !important;
        }
      }
    }
    .color-fade {
      padding: 6vh 0 13vh 0 !important;
    }
    #contact {
      margin-bottom: 5vh;
      h1 {
        padding-left: 1vw;
        margin: 3vh 0 0 0;
        text-transform: uppercase;
      }
      section.social {
        padding: 5vh 0 0 0 !important;
      }
      section.map {
        padding: 0 5vw 0 1vw !important;
      }
    }
  }
}

@media screen and (min-width: 1350px) {
  .wrapper {
    #intro {
      .card {
        margin: 0 6vw 0 6vw !important;
      }
    }
    #contact {
      margin-bottom: 8vh;
    }
  }
}

@media screen and (min-width: 1500px) {
  .wrapper {
    #contact {
      section.social {
        padding: 5vh 0 0 4vw !important;
      }
      section.map {
        padding: 0 7vw 0 0 !important;
      }
    }
  }
}
