.wrapper {
  section {
    width: 100%;
    background-attachment: fixed;
    background-image: url("./../../../assets/img/quadrillage.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  #workshop {
    width: 100%;
    padding-bottom: 2em;
    .logo {
      width: 100%;
    }
    .inner {
      width: 100%;
    }
    .inner {
      .image-banner {
        margin: 2em 0;
        img {
          max-width: 100%;
          object-fit: cover;
        }
        .call-action-scroll {
          display: none;
        }
      }
    }
    .inner.immertion {
      padding: 1em 2em 1em 2em;
      h2 {
        font-size: 22.4px;
        padding-bottom: 2.4em;
        color: var(--text-color-pink);
      }
      .workshop-home {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1em 0 1em 0;
        .workshop-description {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          .workshop-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 29em;
            text-align: justify;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            span {
              color: var(--text-color-blue);
            }
            h3 {
              font-size: 24px;
              text-align: center;
              font-weight: bold;
              line-height: 1.5;
            }
            h5 {
              font-size: 12.8px;
              font-weight: normal;
            }
            ul {
              list-style: disc;
              margin: 0 0 2em 0;
              padding-left: 1em;
              li {
                padding: 0.5em 0em 0em 0em;
                list-style-type: square;
                margin: 0 0 0 2em;
                font-size: 1em;
                text-align: left;
                color: rgba(255, 255, 255, 0.55);
                h5 {
                  color: var(--text-color-white);
                }
              }
            }
          }
        }
        .workshop-card {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          width: 20em;
          height: 25em;
          border-radius: 10px;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          .info-card-info {
            text-align: center;
            padding: 0 0;
            height: 17em;
            background-color: var(--color-blue);
            border-radius: 10px;
            img {
              width: 40%;
              margin-top: -70px;
              max-width: 200px;
              min-width: 80px;
            }
            h2 {
              font-size: 24px;
              font-weight: bold;
              line-height: 1.5;
              padding: 0;
              color: var(--text-color-card);
              text-transform: uppercase;
            }
            h4 {
              font-size: 12.8px;
              font-weight: normal;
              color: var(--text-color-card);
              &:last-of-type {
                color: var(--text-color-white);
              }
            }
            p {
              margin: 0 0 1em 0;
            }
          }
        }
      }
    }
  }
  .wrapper {
    margin: 0;
    padding: 0;
    min-height: unset;
    background-color: var(--bg-color-light);
    .inner {
      padding: 2em 0 2em 0;
      width: 100%;
      h2 {
        font-size: 32px;
        font-weight: bold;
        line-height: 1.2;
        color: var(--text-color-pink);
      }
    }
  }
  section {
    .wrapper {
      background: linear-gradient(var(--bg-color), var(--bg-color-light));
      section {
        &:nth-child(1) {
          background-color: rgba(0, 0, 0, 0.2);
        }
        &:nth-child(2) {
          background-color: rgba(0, 0, 0, 0.05);
        }
        &:nth-child(3) {
          background-color: rgba(0, 0, 0, 0.17);
        }
        &:nth-child(4) {
          background-color: rgba(0, 0, 0, 0.3);
        }
        &:last-of-type {
          padding-bottom: 3.2em;
        }
        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0em 2em 0em 2em;
          .inner {
            padding: 3em 0 1em 0;
            text-align: left;
            h3 {
              color: var(--text-color-blue);
              margin: 1em 0 1em 0;
              font-size: 24px;
              font-weight: bold;
              text-align: center;
              line-height: 1.2;
            }
            p {
              margin: 0 0 1em 0;
              line-height: 1.4;
              color: rgba(255, 255, 255, 0.55);
            }
            h5 {
              width: 100%;
              font-size: 12.8px;
              font-weight: normal;
              line-height: 1.3;
            }
          }
          .image {
            height: 220px;
            min-height: 15em;
            width: 220px;
            margin: 1em 1em 1em 1em;
            background-position: center center;
            background-size: cover;
            border-radius: 10px;
            align-self: center;
          }
          .image.img-mechanic {
            background-image: url("./../../../assets/img/workshop-mechanical.jpg");
          }
          .image.img-electronic {
            background-image: url("./../../../assets/img/workshop-electronic.jpg");
          }
          .image.img-programming {
            background-image: url("./../../../assets/img/workshop-programming.jpg");
          }
          .image.img-manufacturing {
            background-image: url("./../../../assets/img/workshop-manufacturing.jpg");
          }
        }
      }
    }
  }
}


/* ------ Responsive ------ */
@media screen and (min-width: 980px) {
  .wrapper {
    #workshop {
      .inner.immertion {
        h2 {
          font-size: 35px;
        }
      }
      .workshop-description {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 38em;
        .workshop-text {
          h3 {
            font-size: 26px !important;
            text-align: left !important;
          }
          h5 {
            font-size: 16px !important;
          }
        }
      }
    }
    section {
      .wrapper {
        section {
          .content {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 3em 0 1em 0;
            .inner {
              width: 35em;
              padding: 0 0 1em 0;
            }
          }
        }
      }
    }
    .wrapper {
      .inner {
        h2 {
          font-size: 35px;
        }
      }
    }
  }
}

@media screen and (min-width: 1080px) {
  .wrapper {
    section {
      .wrapper {
        section {
          .content {
            padding: 3em 1em 1em 1em;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1650px) {
  .wrapper {
    #workshop {
      .logo {
        margin: 0;
        padding: 5vh 0 0 0;
      }
      .inner.immertion {
        h2 {
          padding: 1em 0 2.4em 0;
        }
        .workshop-home {
          .workshop-description {
            width: 50em;
            .workshop-text {
              h3 {
                font-size: 28px !important;
                text-align: left !important;
              }
              h5 {
                font-size: 19px !important;
              }
            }
          }
          .workshop-card {
            width: 25em;
            height: 30em;
            .info-card-info {
              height: 19.8em;
              img {
                width: 40%;
                margin-top: -95px;
                max-width: 200px;
                min-width: 80px;
              }
              h2 {
                font-size: 30px;
              }
              h4 {
                font-size: 16px;
              }
              .button-activity {
                a {
                  width: 170px;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
    section {
      .wrapper {
        section {
          .content {
            justify-content: space-around;
            padding: 4em 5em 2em 5em;
            .inner {
              h3 {
                font-size: 30px;
              }
              p {
                font-size: 19px;
              }
              h5 {
                font-size: 19px;
              }
            }
            .image {
              height: 400px;
              width: 400px;
            }
          }
        }
      }
    }
  }
}
