<div class="wrapper"> <!-- Main Wrapper -->

  <section id="workshop"> <!-- Section Workshop -->

    <div class="logo"> <!-- Banner -->
      <a [routerLink]="['/']" 
          aria-label="section introduction" 
          role="button">
        <img src="assets/img/logos/logo-cabinet-curiosites.png"
              alt="logo cabinet de curiosité"/>
      </a>
      <h1>Club de Robotique</h1>
    </div> <!-- Banner End -->

    <div class="inner"> <!-- Image -->
      <div class="image-banner" >
        <img src="assets/img/banner-workshop.jpg"
              alt="photo d'un rover montant une côte et d'un rover de face">
      </div>
    </div> <!-- Image End -->

    <div class="inner immersion"> <!-- Immersion -->
      <h2>Immersion dans le monde 
      <br>des sciences et du numérique</h2>			
      <div class="workshop-home"> <!-- Home -->
        <div class="workshop-description"> <!-- Description -->
          <div class="workshop-text">
            <h3>Ateliers ludiques et pédagogiques</h3>                        
            <h5>Le club de robotique propose des ateliers d’exploration 
            <span>scientifique et numérique</span>, dans un format ludique,
                  à destination des jeunes de 10 ans à 18 ans.</h5>
            <ul>
              <li>
                <h5>Appréhender des outils techniques en <br>relevant des 
                <span>challenges.</span></h5>
              </li>
              <li>
                <h5>Comprendre des phénomènes <br>scientifiques à travers des 
                <span>expériences.</span></h5>
              </li>
              <li>
                <h5>Consolider des notions grâce à des 
                <span>jeux <br>scénarisés.</span></h5>
              </li>
            </ul>
          </div>	
          <div class="workshop-img">	
            <img src="assets/img/banner-workshop-local.jpg" 
                 width="100%" 
                 alt="photo de l'intérieur' des locaux"/>
          </div>
        </div> <!-- Description End -->						
        <div class="workshop-card"> <!-- Info -->
          <div class="info-card-info">
            <img src="assets/img/card-workshop.png"
                 alt="pictogramme de robot d'exploration de planètes"
                 class="workshop-sticker"/>			
            <h2>Informations</h2>                      
            <h4>Mercredi / Samedi</h4>
            <h4>1h30 / Semaine</h4>
            <h4>Par niveau (10 - 18 ans)</h4>
            <h4>4 à 8 participants / séance</h4>
            <h2>Formules</h2>
            <h4>25€ / séance (1<sup>er</sup> atelier à 10€)</h4>
            <h4>80€ / 4 séances</h4>
            <h4> 200€ / Trimestre (+1 atelier bonus)</h4>
            <p></p>																					
            <div class="button-activity">
              <a href="assets/pdf/formulaireContactAtelier.pdf" 
                target="_blank" 
                rel="noopener noreferrer" 
                class="inscription"
                aria-label="bouton je m'inscris" 
                role="button">Je m'inscris
              </a>
            </div>
          </div>                 
        </div> <!-- Info End -->
      </div> <!-- Home End -->
    </div> <!-- Immertion End -->

  </section> <!-- Section Workshop End -->
                    
  <section class="wrapper"> <!-- Section Title -->
    <div class="inner">
      <h2>Ateliers à découvrir <br> au Club de Robotique</h2>           
    </div>
  </section> <!-- Section Title End -->
      
  <section> <!-- Section Card -->
    <div class="wrapper"> <!-- Section Wrapper -->

      <section> <!-- Mechanics Makes Sense -->
        <div class="content">
          <div class="inner" 
               data-aos="fade-right"
               data-aos-duration="3000"
               data-aos-delay="300">
            <h3>En fait, la mécanique c’est très logique!</h3>
            <p>Les enfants assemblent des légos techniques pour 
              fabriquer des engins qui se déplacent, tournent et 
              s'animent ! Ils testent leurs différentes créations 
              pour résoudre les problèmes techniques qui leur sont 
              proposés. Moteurs, engrenages, poulies n’auront plus 
              de secret pour eux. Selon les âges, les montages les 
              plus simples aux plus ingénieux sont abordés.
            </p>
            <h5># robotique, créativité, prototypes, essais-erreurs, 
                assemblage, moteurs, sans écran</h5>
          </div>
          <div class="image img-mechanic"
               data-aos="opacity"
               data-aos-duration="3000"
               data-aos-delay="700"></div>
        </div>
      </section> <!-- Mechanics Makes Sense End -->
              
      <section> <!-- Electricity Survey -->
        <div class="content"> 
          <div class="inner" 
               data-aos="fade-right"
               data-aos-duration="3000"
               data-aos-delay="300">
            <h3>Enquête sur l’électricité</h3> 
            <p>C’est quoi l'électricité? Pourquoi permet-elle de faire 
              tourner un moteur, d’éclairer ou de faire du bruit ! Et si 
              on observait de près pour comprendre comment ça fonctionne? 
              D’expérience en expérience, l’électricité, ça devient plus 
              concret.
            </p>
            <h5># électronique, champ magnétique, expérimentation, fabrication, 
                sciences, sans écran</h5>
          </div>
          <div class="image img-electronic"
               data-aos="opacity"
               data-aos-duration="3000"
               data-aos-delay="700"></div>
        </div>
      </section> <!-- Electricity Survey End -->    

      <section> <!-- Computer Programmming -->
        <div class="content"> 
          <div class="inner" 
               data-aos="fade-right"
               data-aos-duration="3000"
               data-aos-delay="100">
            <h3>Programmation informatique</h3>
            <p>Les enfants se familiarisent avec les cartes programmables 
              et apprennent à commander des moteurs et à utiliser des capteurs. 
              Leur imagination les mènera ensuite à fabriquer des systèmes plus 
              complexes: détecteur de mouvements, grue, manette de commande...
            </p>
            <h5># informatique, électronique, découverte, logique, branchements, 
                mécanismes
            </h5>
          </div>
          <div class="image img-programming"
               data-aos="opacity"
               data-aos-duration="3000"
               data-aos-delay="700"></div>
        </div>         
      </section> <!-- Computer Programmming End -->
                
      <section> <!-- Custom Manufacturing -->
        <div class="content">
          <div class="inner" 
               data-aos="fade-right"
               data-aos-duration="3000"
               data-aos-delay="300">
            <h3>Fabrication sur mesure</h3> 
            <p>Quand on construit de nouveaux systèmes, il y a des pièces, 
              sur-mesure, à inventer… Le fait d’imaginer ces pièces et de les 
              dessiner s’appelle la conception. Les enfants entrent dans 
              la peau d’un designer et apprennent à utiliser un logiciel de 
              dessin pour concevoir des objets. Ils pourront ensuite voir le 
              résultat de leurs créations en imprimant une réplique en 3D.
            </p>      
            <h5># informatique, mécanique, mesures, dessin 3D, imprimante 3D, 
                fabrication
            </h5>
          </div>
          <div class="image img-manufacturing"
               data-aos="opacity"
               data-aos-duration="3000"
               data-aos-delay="700"></div>
        </div>
      </section> <!-- Custom Manufacturing End -->

    </div> <!-- Section Wrapper End -->    
  </section> <!-- Section Card End -->
</div> <!-- Main Wrapper End -->
